
//          Tag *p* sass font-size: $=#   :)
$fz20p: 2rem;
$fz16p: 1.6rem;
$fz14p: 1.4rem;

//          *heading* sass font-size: $=#   :)

$fz50h: 5rem;
$fz42h: 4.2rem;
$fz26h: 2.6rem;
$fz22h: 2.2rem;
$fz18h: 1.8rem;

  //     heading*(tablet+mobile)* sass font-size: $=#   :)

$fz42t: 4.2rem;
$fz30m: 3rem;
$fz26m: 2.6rem;
$fz22m: 2.2rem;
$fz16m: 1.6rem;

//          *colors* sass (emmet=bcg: $=#)   :)

$orange: #ef6c00;
$blue: #283593;
$white: #fff;
